@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Luckiest+Guy&family=Luxurious+Roman&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Play:wght@400;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Wallpoet&display=swap');

body {
  margin: 0;
  background: linear-gradient(220deg, rgb(169, 168, 168), rgb(67, 66, 66));
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  font-family: "Bruno Ace SC", sans-serif;
  border: solid 6px rgb(85, 85, 85);
  border-radius: 40px;
  margin-bottom: 95px;
  margin-left: 110px;
  margin-right: 110px;
  color: aliceblue;
  background: linear-gradient(40deg, rgb(3, 3, 64), rgb(1, 1, 14));
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

h1 {
  font-size: 3.4rem;
  font-family: "Wallpoet", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

h3 {
  font-size: 1rem;
  line-height: 25px;
}

button {
  cursor: pointer;
  padding: 8px 30px;
  margin: 10px 30px;
  border-radius: 10px;
  border: none;
  background: radial-gradient(rgb(183, 244, 126), rgb(120, 184, 68));
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

button:hover {
  background: radial-gradient(rgb(210, 248, 174), rgb(136, 201, 82));
}

button:active {
  background: radial-gradient(rgb(142, 189, 98), rgb(85, 131, 48));
  transform: translateY(4px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

img {
  width: 80px;
  height: 80px;
}

.player-score-container {
  display: flex;
  flex-direction: row;
  gap: 80px;
  font-size: 1.5rem;
}

.results {
  font-size: 2.3rem;
  color: rgb(183, 244, 126);
}

/* SUN MODE */

.input {
  visibility: hidden;
}

.label {
  position: absolute;
  width: 70px;
  height: 35px;
  background-color: rgb(56, 56, 56);
  border-radius: 20px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: rgb(160, 160, 160);
  border-radius: 50%;
  top: 2.4px;
  left: 2.4px;
  position: absolute;
  animation: toggleOff 0.4s linear forwards;
}

.input:checked + .label .circle {
  animation: toggleOn 0.4s linear forwards;
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(35px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translateX(35px);
  }
  100% {
    transform: translateX(0);
  }
}
